@import '../../styles/base';

.country-list{    
    margin:5rem auto 0 auto;
    max-width: $max-width;

    &__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
         
}