//Basic setup, colour and font
@import './reset';

// All variables
$primary: #52aedf;
$hover: #d6944e;
$white: #ffffff;
$textMain: #3d3c6b;
$textDark: #373846;
$grey: #5e5f69;
$light: #e6e6fa;
$bgWhite: #f7f8fc;
$box-shadow: 0px 6px 16px rgba(165, 155, 151, 0.19);
$font-family: 'Poppins', sans-serif;
$menu-highlight: #dde2ff;
$error: #cf000f;
$success: #009944;
$box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.04);
$font-weights: (
  'regular': 400,
  'medium': 600,
  'bold': 700,
);
$max-width: 1040px;
:root {
  font-size: 8px;
  font-weight: weight(regular);
  font-family: $font-family;
}

.container {
  max-width: $max-width;
  margin: auto;
}

h2 {
  font-size: 3rem;
  font-family: $font-family;
  font-weight: weight(regular);
}

//buttons style
.btn {
  font-size: 2rem !important; 
  font-weight: weight(medium) !important;
  font-family: $font-family !important;
  border-radius: 8px !important;
  display: inline-block !important;
  text-align: center !important;
  transition: all 0.2s;
  width: 100%;
  &__primary {
    background-color: $primary !important;
    color: $white !important;
    &:hover{
      background-color: $hover !important;
    }
  }
}

.MuiInputBase-input {
  font-family: $font-family;
  color: rgb(56, 51, 51);
  font-size: 2rem;
}
