@import '../../styles/base';

.sidebar {
  padding-left: 40px;
  min-width: 400px;
  &_drawer {
    min-width: 250px;
    .MuiDrawer-paperAnchorRight {
      left: auto;
      right: 0;
      width: 250px;
      background-color: wheat;
    }
  }
  &_drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2.5rem;
    padding-right: 5rem;
    svg.MuiSvgIcon-root {
      font-size: 5rem;
      color: black;
      cursor: pointer;
    }
  }
  &_navigation {
    margin-top: 2.5rem;
    padding-right: 1rem;
    text-align: right;
    ul {
      margin-top: 8rem;
      li {
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      &_blue-box {
        width: 80px;
        height: 50px;
        margin-left: 2rem;
        background-color: rgb(80, 145, 185);
      }
      &_green-box {
        width: 80px;
        height: 50px;
        margin-left: 2rem;
        background-color: rgb(26, 88, 26);
      }
      &_red-box {
        width: 80px;
        height: 50px;
        margin-left: 2rem;
        background-color: rgb(141, 27, 54);
      }
    }
  }
}
