@import '../../styles/base';

.country-card{
    box-shadow: $box-shadow;
    max-width: 300px;
    &__wrapper{
        padding: 5rem;
        img{
            max-width: 250px;
            max-height: 150px;
        }

    }
    &__name{
        margin-top: 5rem;
        color: black;

    }
    &__continent{
        margin-top: 2.5rem;
        color: $grey;
        margin-bottom: 6.5rem;
    
    }
    &__action{
        width: 100%;
    }
}